{{ ansible_managed|comment }}
include modules-enabled/*.conf;

user {{ nginx_user|default('www-data') }};
worker_processes {{ nginx_worker_processes|default('4') }};
pid {{ nginx_pid|default('/run/nginx.pid') }};

events {
    worker_connections {{ nginx_worker_connections|default('768') }};
    multi_accept {{ nginx_multi_accept|default('off') }};
    accept_mutex {{ nginx_accept_mutex|default('off') }};
}

http {
    ##
    # Basic Settings
    ##

    sendfile {{ nginx_sendfile|default('on') }};
    tcp_nopush {{ nginx_tcp_nopush|default('on') }};
    tcp_nodelay {{ nginx_tcp_nodelay|default('on') }};
    keepalive_timeout {{ nginx_keepalive_timeout|default('65') }};
    types_hash_max_size {{ nginx_types_hash_max_size|default('2048') }};
    server_tokens {{ server_tokens|default('off') }};

    server_names_hash_bucket_size {{ nginx_server_names_hash_bucket_size|default('64') }};
    server_name_in_redirect {{ server_name_in_redirect|default('off') }};

    index {{ nginx_index|default('index.html index.htm') }};

    include /etc/nginx/mime.types;
    default_type {{ nginx_default_type|default('application/octet-stream') }};

    ##
    # Logging Settings
    ##

    access_log {{ nginx_access_log|default('/var/log/nginx/access.log') }};
    error_log {{ nginx_error_log|default('/var/log/nginx/error.log') }};

    ##
    # Gzip Settings
    ##

    gzip {{ nginx_gzip|default('on') }};
    gzip_static {{ nginx_gzip_static|default('on') }};
    gzip_disable {{ nginx_gzip_disable|default('"msie6"') }};

    gzip_vary {{ nginx_gzip_vary|default('on') }};
    gzip_proxied {{ nginx_gzip_proxied|default('any') }};
    gzip_comp_level {{ nginx_gzip_comp_level|default('6') }};
    gzip_buffers {{ nginx_gzip_buffers|default('16 8k') }};
    gzip_http_version {{ nginx_gzip_http_version|default('1.1') }};
    gzip_types {{ nginx_gzip_types|default('text/plain text/css application/json application/javascript text/javascript text/xml application/xml application/atom+xml application/xml+rss') }};

    ##
    # Extra configuration files
    ##
    include conf.d/*.conf;

    ##
    # Virtual Host Configs
    ##

    include sites.d/*.conf;
}
