#
# Uncomment the following variable and set to 0 or 1 to avoid warning.
#
XEN_OVERRIDE_GRUB_DEFAULT={{ libvirt_xen_grub_default|ternary(1,0) }}

echo "Including Xen overrides from /etc/default/grub.d/xen.cfg"

#
# When running update-grub with the Xen hypervisor installed, there are
# some additional variables that can be used to pass options to the
# hypervisor or the dom0 kernel.

# The following two are used to generate arguments for the hypervisor:
#
GRUB_CMDLINE_XEN_DEFAULT="{{ libvirt_xen_grub_cmdline }}"
#GRUB_CMDLINE_XEN=""
#
# For example:
#
# dom0_mem=<size>[M]:max=<size>[M]
#   Sets the amount of memory dom0 uses (max prevents balloning for more)
# com[12]=<speed>,<data bits><parity><stopbits>
#   Initialize a serial console from in the hypervisor (eg. 115200,8n1)
#   Note that com1 would be ttyS0 in Linux.
# console=<dev>[,<dev> ...]
#   Redirects Xen hypervisor console (eg. com1,vga)

#
# The next two lines are used for creating kernel arguments for the dom0
# kernel. This allows to have different options for the same kernel used
# natively or as dom0 kernel.
#
#GRUB_CMDLINE_LINUX_XEN_REPLACE_DEFAULT="$GRUB_CMDLINE_LINUX_DEFAULT"
#GRUB_CMDLINE_LINUX_XEN_REPLACE="$GRUB_CMDLINE_LINUX"
#
# For example:
#
# earlyprintk=xenboot
#   Allows to send early printk messages to the Xen hypervisor console
# console=hvc0
#   Redirects the Linux console to the hypervisor console

#
# Make booting into Xen the default if not changed above. Finding the
# current string for it always has been a problem.
#
if [ "$XEN_OVERRIDE_GRUB_DEFAULT" = "" ]; then
	echo "WARNING: GRUB_DEFAULT changed to boot into Xen by default!"
	echo "         Edit /etc/default/grub.d/xen.cfg to avoid this warning."
	XEN_OVERRIDE_GRUB_DEFAULT=1
fi
if [ "$XEN_OVERRIDE_GRUB_DEFAULT" = "1" ]; then
	GRUB_DEFAULT="Debian GNU/Linux, with Xen hypervisor"
fi
