#jinja2:lstrip_blocks: True, trim_blocks: True, strip_trailing_newlines: False
{{ ansible_managed|comment }}

{% for vhost in apache_sites %}
{% set _tmp = vhost.name.split(".")|reverse|join(".") %}
{% set _tmp = vhost.setdefault('reversed_fqdn', _tmp) %}
{% set listen = vhost.listen|default('*:80') %}

#
# {{ vhost.name }}
#
{% if vhost.root is defined %}
{# >> Pre configuration #}
<Directory {{ vhost.root }}>
    Require all granted
    {% if vhost.allow_override %}
    AllowOverride {{ vhost.allow_override }}
    {% endif %}
</Directory>
{% endif %}

<VirtualHost {{ listen }}>
    ServerName {{ vhost.name }}
{% if vhost.aliases is defined %}
{% for item in vhost.aliases %}
    ServerAlias {{ item }}
{% endfor %}
{% endif %}
    DocumentRoot {{ vhost.root|default('/var/www/html', true) }}

    {% if vhost.access_log|default(true) != false %}
    CustomLog {{ vhost.access_log|default('/var/log/apache2/' + vhost.reversed_fqdn + '-access.log') }} combined
    {% endif %}
    {% if vhost.error_log|default(true) != false  %}
    ErrorLog  {{ vhost.error_log|default('/var/log/apache2/' + vhost.reversed_fqdn + '-error.log') }}
    {% endif %}

{# >> raw content #}
{% if vhost.raw|default(none) %}
    # Raw content
    {{ vhost.raw|indent() }}
{% endif %}
</VirtualHost>

{% endfor %}
