#jinja2:lstrip_blocks: True, trim_blocks: True, strip_trailing_newlines: False
{{ ansible_managed|comment }}

{% if nginx_anti_ddos_shared_map > 0 %}
lua_shared_dict antiddos {{ nginx_anti_ddos_shared_map }}m;
{% endif %}
