#jinja2:lstrip_blocks: True, trim_blocks: True, strip_trailing_newlines: False
{{ ansible_managed|comment }}

{% if nginx_country_list %}
geoip_country {{ nginx_country_list }};
{# >> block list #}
{% if nginx_blocked_countries %}

map $geoip_country_code $allowed_country {
    default yes;
{% for item in nginx_blocked_countries %}
    {{ item }} no;
{% endfor %}
}
{% endif %}
{% endif %}
