{{ ansible_managed|comment }}

# $DragonFly: src/etc/dma/auth.conf,v 1.1 2008/02/02 18:24:00 matthias Exp $
#
# SMTP authentication entries (currently AUTH LOGIN only)
# Format: user|my.smarthost.example.com:password
{% for item in dma_auth_entries %}
{{ item }}
{% endfor %}
