{{ ansible_managed|comment }}

server:
  num-threads: {{ unbound_num_threads }}
  msg-cache-slabs: {{ unbound_msg_cache_slabs }}
  rrset-cache-slabs: {{ unbound_rrset_cache_slabs }}
  infra-cache-slabs: {{ unbound_infra_cache_slabs }}
  key-cache-slabs: {{ unbound_key_cache_slabs }}

{% for item in unbound_interface %}
  interface: {{ item }}
{% endfor %}
{% for item in unbound_outgoing_interface %}
  outgoing-interface: {{ item }}
{% endfor %}

  module-config: "{{ unbound_module_config|join(" ") }}"

  use-syslog: {{ unbound_use_syslog|ternary("yes", "no") }}
  verbosity: {{ unbound_verbosity }}
  statistics-interval: {{ unbound_statistics_interval }}
  statistics-cumulative: {{ unbound_statistics_cumulative|ternary("yes", "no") }}
  extended-statistics: {{ unbound_extended_statistics|ternary("yes", "no") }}

  do-ip4: {{ unbound_do_ip4|ternary("yes", "no") }}
  do-ip6: {{ unbound_do_ip6|ternary("yes", "no") }}
  edns-buffer-size: {{ unbound_edns_buffer_size }}
  msg-buffer-size: {{ unbound_msg_buffer_size }}
  port: {{ unbound_port }}
  outgoing-port-permit: {{ unbound_outgoing_port_permit }}

  harden-short-bufsize: {{ unbound_harden_short_bufsize|ternary("yes", "no") }}
  harden-large-queries: {{ unbound_harden_large_queries|ternary("yes", "no") }}
  harden-glue: {{ unbound_harden_glue|ternary("yes", "no") }}
  harden-below-nxdomain: {{ unbound_harden_below_nxdomain|ternary("yes", "no") }}
  harden-referral-path: {{ unbound_harden_referral_path|ternary("yes", "no") }}
  use-caps-for-id: {{ unbound_use_caps_for_id|ternary("yes", "no") }}

  outgoing-range: {{ unbound_outgoing_range }}
  num-queries-per-thread: {{ unbound_num_queries_per_thread }}
  outgoing-num-tcp: {{ unbound_outgoing_num_tcp }}
  incoming-num-tcp: {{ unbound_incoming_num_tcp }}
  rrset-cache-size: {{ unbound_rrset_cache_size }}
  msg-cache-size: {{ unbound_msg_cache_size }}
  key-cache-size: {{ unbound_key_cache_size }}
  neg-cache-size: {{ unbound_neg_cache_size }}
  infra-cache-numhosts: {{ unbound_infra_cache_numhosts }}

  harden-dnssec-stripped: {{ unbound_harden_dnssec_stripped|ternary("yes", "no") }}
  val-clean-additional: {{ unbound_val_clean_additional|ternary("yes", "no") }}
  ignore-cd-flag: {{ unbound_ignore_cd_flag|ternary("yes", "no") }}
  tls-cert-bundle: {{ unbound_tls_cert_bundle }}

  cache-min-ttl: {{ unbound_cache_min_ttl }}
  cache-max-ttl: {{ unbound_cache_max_ttl }}
  val-bogus-ttl: {{ unbound_val_bogus_ttl }}
  infra-host-ttl: {{ unbound_infra_host_ttl }}

  hide-identity: {{ unbound_hide_identity|ternary("yes", "no") }}
  hide-version: {{ unbound_hide_version|ternary("yes", "no") }}


{% for item in unbound_access_control %}
  access-control: {{ item }}
{% endfor %}

{% for item in unbound_forward_zones %}
forward-zone:
  name: "{{ item.name|quote }}"
  forward-tls-upstream: {{ item.forward_tls|d(false)|ternary("yes", "no") }}
  forward-addr: {{ item.addr }}
{% endfor %}
