{{ ansible_managed|comment }}

include inc.d/fastcgi_params.conf;

# PHP only, required if PHP was built with --enable-force-cgi-redirect
fastcgi_param REDIRECT_STATUS   200;

# Allow PHP usage with PATH_INFO
fastcgi_split_path_info         ^(.+\.php)(/.+)$;

fastcgi_param PATH_INFO         $fastcgi_path_info;
fastcgi_param PATH_TRANSLATED   $document_root$fastcgi_path_info;
fastcgi_param SCRIPT_FILENAME   $document_root$fastcgi_script_name;

fastcgi_intercept_errors        on;
fastcgi_ignore_client_abort     off;
fastcgi_connect_timeout         60;
fastcgi_send_timeout            180;
fastcgi_read_timeout            180;
fastcgi_buffer_size             128k;
fastcgi_buffers                 4       256k;
fastcgi_busy_buffers_size       256k;
fastcgi_temp_file_write_size    256k;
