#!/bin/bash -fue
set -- $SSH_ORIGINAL_COMMAND

case "$@" in
  "rsync --server --daemon .")
    exec "$@"
    ;;
{% for cmd in backup_host_scripts %}
  "/usr/local/backup-scripts/{{ cmd }}")
     exec "$@"
     ;;
{% endfor %}
  *)
    echo "ERROR: request not permitted"
    ;;
esac
