#jinja2:lstrip_blocks: True, trim_blocks: True, strip_trailing_newlines: False
{{ ansible_managed|comment }}

ServerTokens Prod
ServerSignature Off

TraceEnable Off

ServerName 127.0.0.1

<IfModule mpm_prefork_module>
    StartServers           {{ apache_mpm_prefork_startservers }}
    MinSpareServers        {{ apache_mpm_prefork_minspareservers }}
    MaxSpareServers        {{ apache_mpm_prefork_maxspareservers }}
    MaxRequestWorkers      {{ apache_mpm_prefork_maxrequestworkers }}
    MaxConnectionsPerChild {{ apache_mpm_prefork_maxconnectionsperchild }}
</IfModule>

{{ apache_raw_config }}
