{% from "templates/_macros.j2" import get_val -%}

{{ ansible_managed|comment }}


{% for name, conf in fail2ban_jails|dictsort %}
[{{ name }}]
{% for k, v in conf|dictsort %}
{{ k }} = {{ get_val(v) }}
{% endfor %}

{% endfor %}
