{{ ansible_managed|comment }}

#
# This file defines global constants which can be used in
# the other configuration files.
#

# The directory which contains the plugins from the Monitoring Plugins project.
const PluginDir = "/usr/lib/nagios/plugins"

# The directory which contains the Manubulon plugins.
# Check the documentation, chapter "SNMP Manubulon Plugin Check Commands", for details.
#
const ManubulonPluginDir = "/usr/lib/nagios/plugins"

# The directory which you use to store additional plugins which ITL provides user contributed command definitions for.
# Check the documentation, chapter "Plugins Contribution", for details.
#
const PluginContribDir = "/usr/lib/nagios/plugins"

# Our local instance name. By default this is the server's hostname as returned by `hostname --fqdn`.
# This should be the common name from the API certificate.
#
const NodeName = "localhost"

# Our local zone name.
const ZoneName = "localhost"

# Secret key for remote node tickets
const TicketSalt = "{{ incinga_ticket_salt }}"

{% for k, v in icinga_constants|dictsort %}
const {{ k }} = "{{ v }}"
{% endfor %}
