{{ ansible_managed|comment }}

include "constants.conf"

include <itl>
include <plugins>
include <plugins-contrib>
include <manubulon>

include "features-enabled/*.conf"

{% for path in icinga_config_files %}
include "ansible.d/{{ path|basename }}"
{% endfor %}
