{{ ansible_managed|comment }}

APT::Install-Recommends "{{ common_apt_install_recommends|ternary('true', 'false') }}";
APT::Install-Suggests "{{ common_apt_install_suggests|ternary('true', 'false') }}";

Unattended-Upgrade::Origins-Pattern {
    "origin=Debian,codename=${distro_codename},label=Debian";
    "origin=Debian,codename=${distro_codename},label=Debian-Security";
    "origin=Debian,codename=${distro_codename}-security,label=Debian-Security";
{% for x in common_apt_unattended_origins_pattern %}
    "{{ x }}";
{% endfor -%}
}
Unattended-Upgrade::Verbose "true";
Unattended-Upgrade::Mail "root";
