{{ ansible_managed|comment }}

IPTABLES_LOG="{{ firehole_dnsbl_iptables_log }}"

ULOG_MATCH="{{ firehole_dnsbl_ulog_match }}"

LOG_DIR="{{ firehole_dnsbl_log_dir }}"

EXCLUSION_IPSETS="{{ firehole_dnsbl_exclusion_ipsets|join(" ") }}"

BLACKLIST_IPSET="{{ firehole_dnsbl_blacklist_ipset }}"
BLACKLIST_IPSET_OPTIONS="{{ firehole_dnsbl_blacklist_ipset_options }}"
BLACKLIST_IPSET_COMMENTS="{{ firehole_dnsbl_blacklist_ipset_comments }}"

CACHE_IPSET="{{ firehole_dnsbl_cache_ipset }}"
CACHE_IPSET_OPTIONS="{{ firehole_dnsbl_cache_ipset_options }}"
CACHE_IPSET_CREATE_OPTIONS="{{ firehole_dnsbl_cache_ipset_create_options }}"

BLACKLIST_SCORE="{{ firehole_dnsbl_blacklist_score }}"

DELAY_BETWEEN_CHECKS="{{ firehole_dnsbl_delay_between_checks }}"

THROTTLE_THRESHOLD="{{ firehole_dnsbl_throttle_threshold }}"

THROTTLE_LOCK_FILE="{{ firehole_dnsbl_throttle_lock_file }}"

DEBUG={{ firehole_dnsbl_debug|ternary('1', '0') }}

IGNORE="{{ firehole_dnsbl_ignore }}"
PROXY="{{ firehole_dnsbl_proxy }}"
EXPLOIT="{{ firehole_dnsbl_exploit }}"
SPAM="{{ firehole_dnsbl_spam }}"
SPAMPRO="{{ firehole_dnsbl_spampro }}"
SPAMWAVE="{{ firehole_dnsbl_spamwave }}"
DYNAMICIP="{{ firehole_dnsbl_dynamicip }}"
BADKARMA="{{ firehole_dnsbl_badkarma }}"
GOODKARMA="{{ firehole_dnsbl_goodkarma }}"
