{{ ansible_managed|comment }}

{% for k, v in firehol_settings|dictsort %}
{{ k }}={{ v|quote }}
{% endfor %}

version 6

#
# Services
#

{% for name, srv in firehol_services|dictsort %}
# {{ name }}
server_{{ name }}_ports="{{ srv.sports }}"
client_{{ name }}_ports="{{ srv.cports|d('default') }}"

{% endfor %}

#
# Directives
#

{% for name, items in firehol_directives|dictsort %}
# {{ name }}
{% for item in items|d([]) %}
{{ item }}
{% endfor %}

{% endfor %}

#
# Interfaces
#

{% for interface in firehol_interfaces %}
## {{ interface.name }}
{{ interface.define }}
{% for k, rules in firehol_rulesets[interface.name]|d({})|dictsort %}
  # {{ k }}
{% for rule in rules|d([]) %}
  {{ rule }}
{% endfor %}

{% endfor %}
{% endfor %}
