{{ ansible_managed|comment }}

uid = {{ backup_host_uid }}
gid = {{ backup_host_gid }}

{% for name, source in backup_host_sources.items()|sort() %}
[{{ name }}]
{% for k, v in source.items()|sort() %}
    {{ k }} = {{ v }}
{% endfor %}

{% endfor %}
