{{ ansible_managed|comment }}

TABLES_4={{ iptables_available_tables.ip4|join(" ")|quote }}
TABLES_6={{ iptables_available_tables.ip6|join(" ")|quote }}

PRE_COMMANDS={{ iptables_pre_commands|quote }}
POST_COMMANDS={{ iptables_post_commands|quote }}

NFTABLES_COMPAT={{ iptables_nftables_mode|ternary(1,0) }}
