{{ ansible_managed|comment }}

{% for table in iptables_available_tables[ip_version] %}
* {{ table }}
{% set chains = _iptables_tables[ip_version].get(table, {}) %}
{% for chain, policy in chains|dictsort %}
:{{ chain }} {{ policy }}
{% endfor %}
{% for chain in iptables_ruleset.get(table, {}).keys() %}
{% if chain not in chains %}
:{{ chain }} -
{% endif %}
{% endfor %}

{% for chain, ruleset in iptables_ruleset.get(table, {})|dictsort %}
{% for name, rules in ruleset|dictsort %}
# {{ table }} - {{ chain }} - {{ name }}
{% for rule in rules if not iptables_nftables_mode or not rule|regex_search(ip_exclude) %}
-A {{ chain }} {{ rule }}
{% endfor %}

{% endfor %}
{% endfor %}
COMMIT

{% endfor %}
