{{ ansible_managed|comment(decoration=';') }}

short_open_tag = Off
expose_php = Off
memory_limit = 16M

register_globals = Off
magic_quotes_gpc = Off

post_max_size = 32M
upload_max_filesize = 32M

allow_url_fopen = Off

display_errors = On
log_errors = Off
ignore_repeated_errors = On

xcache.size = 32M

date.timezone = UTC
