{{ ansible_managed|comment }}
[Unit]
Description=DNSBL Firehol service

[Service]
Type=simple
ExecStart=/usr/sbin/dnsbl-ipset
StandardError=syslog
SyslogFacility=user
SyslogIdentifier=dnsbl-ipset

[Install]
WantedBy=multi-user.target
