{{ ansible_managed|comment }}
[Unit]
Description=Firehol stateful packet filtering firewall for humans
Documentation=man:firehol(1) man:firehol.conf(5)
DefaultDependencies=no

Before=network-pre.target
Wants=network-pre.target

Wants=systemd-modules-load.service local-fs.target
After=systemd-modules-load.service local-fs.target

Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/firehol start
ExecStop=/usr/sbin/firehol stop
ExecReload=/usr/sbin/firehol restart
RemainAfterExit=yes
{% for item in firehol_post_start %}
ExecStartPost={{ item }}
{% endfor %}
{% for item in firehol_post_stop %}
ExecStopPost={{ item }}
{% endfor %}

[Install]
WantedBy=multi-user.target
