{{ ansible_managed|comment }}

{% macro config_item(name, value, indent=0) %}
{% if value is mapping %}
{{ ' ' * indent }}{{ name }} {
{% for k, v in value.items() %}
{{ config_item(k, v, indent+2) -}}
{% endfor %}
{{ ' ' * indent }}}

{% elif value is boolean %}
{{ ' ' * indent }}{{ name }} = {{ value|ternary('yes', 'no') }}
{% elif value is iterable and (value is not string and value is not mapping) %}
{{ ' ' * indent }}{{ name }} = {{ value|join(' ') }}
{% else %}
{{ ' ' * indent }}{{ name }} = {{ value }}
{% endif %}
{% endmacro %}

{% for name, section in dovecot_configuration|dictsort %}
# {{ name }}
{% for k, v in section.items() %}
{{ config_item(k, v, 0) -}}
{% endfor %}

{% endfor %}
