{{ ansible_managed|comment }}

HOOK="${BASEDIR}/hooks/{{ item.mode|default('nsupdate') }}.sh"

{% if item.config is defined %}
{% for k, v in item.config.items() %}
{{ k }}="{{ v }}"
{% endfor %}
{% endif %}
