{{ ansible_managed|comment }}

# nsupdate hook configuration
HOOK_NSUPDATE_NSKEY="{{ letsencrypt_nsupdate_keys and "${BASEDIR}/" + letsencrypt_nsupdate_keys.pub.name or "" }}"
HOOK_NSUPDATE_NS_ADDR={{ letsencrypt_nsupdate_ns_addr }}
HOOK_NSUPDATE_NS_PORT={{ letsencrypt_nsupdate_ns_port }}

# gandi hook configuration
HOOK_GANDI_API_KEY="{{ letsencrypt_gandi_api_key }}"
HOOK_GANDI_API_URL="{{ letsencrypt_gandi_api_url }}"

# shared nameserver check configuration
HOOK_CHECK_NS="{{ letsencrypt_check_ns }}"
HOOK_CHECK_INTERVAL={{ letsencrypt_check_interval }}
HOOK_CHECK_ATTEMPTS={{ letsencrypt_check_attempts }}
