{{ ansible_managed|comment }}

access_by_lua_file /etc/nginx/lua/anti_ddos_challenge.lua;
set $anti_ddos_secret "{{ nginx_anti_ddos_secret }}";
set $anti_ddos_status "{{ nginx_anti_ddos_status }}";
set $anti_ddos_expire_time "{{ nginx_anti_ddos_expire_time }}";
{% if nginx_anti_ddos_shared_map %}
set $anti_ddos_shared_map "1";
{% endif %}
