{{ ansible_managed|comment() }}

Syslog yes
LogWhy yes
UMask  002
Mode   sv

KeyTable           /etc/postfix/dkim/keytable
SigningTable       /etc/postfix/dkim/signingtable
ExternalIgnoreList /etc/postfix/dkim/trustedhosts
InternalHosts      /etc/postfix/dkim/trustedhosts

UserID             opendkim
PidFile            /var/run/opendkim/opendkim.pid
TrustAnchorFile    /usr/share/dns/root.key

Socket             {{ dkim_socket }}
