[mysqld]
bind-address = {{ mysql_bind_address }}

{% if mysql_datadir %}
datadir              = {{ mysql_datadir }}
{% endif %}

key_buffer           = {{ mysql_key_buffer }}
max_allowed_packet   = {{ mysql_max_allowed_packet }}
thread_stack         = {{ mysql_thread_stack }}
thread_cache_size    = {{ mysql_thread_cache_size }}
sort_buffer_size     = {{ mysql_sort_buffer_size }}
read_buffer_size     = {{ mysql_read_buffer_size }}
read_rnd_buffer_size = {{ mysql_read_rnd_buffer_size }}
net_buffer_length    = {{ mysql_net_buffer_length }}

{% if mysql_skip_innodb %}
skip-innodb
default-storage-engine=MyISAM
{% endif %}
