{{ ansible_managed|comment }}

{% for name, section in postfix_main_cf|dictsort %}
# {{ name }}
{% for k, v in section.items() %}
{% if v is boolean %}
{{ k }} = {{ v|ternary('yes', 'no') }}
{% elif v is iterable and (v is not string and v is not mapping) %}
{{ k }} =
{{ v|join(',\n')|indent(4, first=true) }}
{% else %}
{{ k }} = {{ v }}
{% endif %}
{% endfor %}

{% endfor %}
