{{ ansible_managed|comment }}

# ==========================================================================
# service      type  private unpriv  chroot  wakeup  maxproc command + args
#                    (yes)   (yes)   (no)    (never) (100)
# ==========================================================================

pickup             unix  n       -       y       60      1       pickup
cleanup            unix  n       -       y       -       0       cleanup
qmgr               unix  n       -       n       300     1       qmgr
#qmgr              unix  n       -       n       300     1       oqmgr
tlsmgr             unix  -       -       y       1000?   1       tlsmgr
rewrite            unix  -       -       y       -       -       trivial-rewrite
bounce             unix  -       -       y       -       0       bounce
defer              unix  -       -       y       -       0       bounce
trace              unix  -       -       y       -       0       bounce
verify             unix  -       -       y       -       1       verify
flush              unix  n       -       y       1000?   0       flush
proxymap           unix  -       -       n       -       -       proxymap
proxywrite         unix  -       -       n       -       1       proxymap
smtp               unix  -       -       y       -       -       smtp
relay              unix  -       -       y       -       -       smtp
showq              unix  n       -       y       -       -       showq
error              unix  -       -       y       -       -       error
retry              unix  -       -       y       -       -       error
discard            unix  -       -       y       -       -       discard
local              unix  -       n       n       -       -       local
virtual            unix  -       n       n       -       -       virtual
lmtp               unix  -       -       y       -       -       lmtp
anvil              unix  -       -       y       -       1       anvil
scache             unix  -       -       y       -       1       scache


# Extra services
# --------------------------------------------------------------------------

{% for item in postfix_services %}
{{ "%-19s "|format(item.name) }}
{{- "%-5s "|format(item.type) }}
{{- "%-7s "|format(item.private) }}
{{- "%-7s "|format(item.unpriv) }}
{{- "%-7s "|format(item.chroot) }}
{{- "%-7s "|format(item.wakeup) }}
{{- "%-7s "|format(item.maxproc) }}
{{- item.command }}
{% if item.args|d('') %}
  {{ item.args|indent(2)|trim }}
{% endif %}

{% endfor %}
