{{ ansible_managed|comment }}

# Colors
reset_colors="\[\e[0m"
for color in {0..255}; do
    FG[color]="\[\e[38;5;${color}m\]"
    BG[color]="\[\e[48;5;${color}m\]"
done

# Prompt
_prompt_command() {
    local EXIT=$?

    # Set prompt
    PS1="{{ bash_prompt|join }}"
}

export PROMPT_COMMAND=_prompt_command

# Aliases
alias cp="cp -i"
alias mv="mv -i"
alias rm="rm -i"

alias ls='ls --color'
alias ll='ls -l'
alias l='ls -al'

alias jc=journalctl
alias sc=systemctl

alias ip='ip -c'


# Huge history. Doesn't appear to slow things down, so why not?
HISTSIZE=500000
HISTFILESIZE=100000

# Avoid duplicate entries
HISTCONTROL="erasedups:ignoreboth"

# Don't record some commands
export HISTIGNORE="&:exit:ls:bg:fg:history:clear"

# Use standard ISO 8601 timestamp
# %F equivalent to %Y-%m-%d
# %T equivalent to %H:%M:%S (24-hours format)
HISTTIMEFORMAT='%F %T '

# Append to the history file, don't overwrite it
shopt -s histappend

# Save multi-line commands as one command
shopt -s cmdhist

# Do not quote file names
export QUOTING_STYLE=literal

# Interactive parts, only in a terminal
[[ "${SHELLOPTS}" =~ :(emacs|vi): ]] || return

# Enable incremental history search with up/down arrows
bind '"\e[A": history-search-backward'
bind '"\e[B": history-search-forward'
bind '"\e[C": forward-char'
bind '"\e[D": backward-char'


# Auto complete
bind "set show-all-if-ambiguous on"
bind "set completion-ignore-case on"
bind "set menu-complete-display-prefix on"
bind "set mark-symlinked-directories on"

# Menu completion
bind 'TAB: menu-complete'
bind '"\e[Z": menu-complete-backward'

if [ -d /usr/share/bash-completion/completions/ ]; then
    source /usr/share/bash-completion/completions/journalctl
    source /usr/share/bash-completion/completions/systemctl
    complete -F _journalctl jc
    complete -F _systemctl sc
fi
