# Variables
export EDITOR="vim"
export LC_ALL="en_US.UTF-8"

LS_COLORS='no=00:rs=0:fi=00:di=01;34:ln=36:mh=04;36:pi=04;01;36:so=04;33:do=04;01;36:bd=01;33:cd=33:or=31:mi=01;37;41:ex=01;32:su=01;04;37:sg=01;04;37:ca=01;37:tw=01;37;44:ow=01;04;34:st=04;37;44:';
export LS_COLORS

# Colors
typeset -Ag FG BG
for color in {000..255}; do
    FG[$color]="%{[38;5;${color}m%}"
    BG[$color]="%{[48;5;${color}m%}"
done

autoload -U colors && colors
setopt prompt_subst

# Prompt
PROMPT="{{ zsh_prompt|join }}"
RPROMPT='%(?..%{$FG[124]%} ↪ %? %{$reset_color%})%*'

# Do not autoselect first match
unsetopt menucomplete

# Load completions
autoload -Uz compinit && compinit -i
zstyle ':completion:*' menu select
zstyle ':completion:*' matcher-list 'm:{a-zA-Z}={A-Za-z}'
zstyle ':completion::complete:*' use-cache on
zstyle ':completion::complete:*' cache-path "${ZDOTDIR:-$HOME}/.zcompcache"

zstyle ':completion:*:history-words' stop yes
zstyle ':completion:*:history-words' remove-all-dups yes
zstyle ':completion:*:history-words' list false
zstyle ':completion:*:history-words' menu yes

setopt complete_in_word
setopt always_to_end
bindkey '^[[Z' reverse-menu-complete

# History
HISTSIZE=20000
SAVEHIST=10000
HISTFILE=~/.zsh_history
setopt append_history
setopt extended_history
setopt hist_expire_dups_first
setopt hist_ignore_dups
setopt hist_ignore_space
setopt hist_verify
setopt inc_append_history
setopt share_history

bindkey '^[OA' history-beginning-search-backward
bindkey '^[[A' history-beginning-search-backward
bindkey '^[OB' history-beginning-search-forward
bindkey '^[[B' history-beginning-search-forward

# Directory stack
DIRSTACKSIZE=20
setopt autopushd pushdsilent pushdtohome
setopt pushdignoredups
setopt pushdminus

# Key binding
bindkey '^[[1;5C' forward-word
bindkey '^[[1;5D' backward-word
bindkey '^A' beginning-of-line
bindkey '^E' end-of-line

# Aliases
alias d="dirs -v"
alias cp="cp -i"
alias mv="mv -i"
alias rm="rm -i"

alias ls='ls --color'
alias ll='ls -l'
alias l='ls -al'

alias 1='cd -'
alias 2='cd -2'
alias 3='cd -3'
alias 4='cd -4'
alias 5='cd -5'
alias 6='cd -6'
alias 7='cd -7'
alias 8='cd -8'
alias 9='cd -9'

alias sc=systemctl
alias scu='systemctl --user'
alias jc=journalctl
alias jcu='journalctl --user'
alias ip='ip -c'

# Do not quote ls results
export QUOTING_STYLE=literal
