#jinja2:lstrip_blocks: True, trim_blocks: True, strip_trailing_newlines: False
#!/usr/sbin/nft -f
{% macro nft_ruleset(ruleset) %}
{% for name, rules in ruleset|dictsort() %}
# {{ name }}
{% for rule in rules %}
{{ rule }};
{% endfor %}
{% if not loop.last %}

{% endif %}
{% endfor %}
{% endmacro %}

{{- ansible_managed|comment }}

flush ruleset

{% for table, chains in nftables_rules|dictsort() %}
{% if table == "__raw__" %}
{{ nft_ruleset(chains) }}
{% else %}
table {{ table }} {
{% for chain, ruleset in chains|dictsort() %}
  {% if chain == "__raw__" %}
  {{ nft_ruleset(ruleset)|indent(2, blank=false) }}
  {% else %}
  chain {{ chain }} {
    {{ (nft_ruleset(ruleset)|indent(4, blank=false)).rstrip() }}
  }
  {% endif %}

{% endfor %}
}
{% endif %}

{% endfor %}
