{{ ansible_managed|comment }}

server_address={{ nrpe_server_address }}
allowed_hosts={{ nrpe_allowed_hosts }}

{% for name, cmd in {}|combine(nrpe_commands,
                                nrpe_group_commands,
                                nrpe_host_commands,
                                recursive=True)
                      |dictsort() %}
command[{{ name }}]={{ cmd }}
{% endfor %}
