[Unit]
Description=Bitwarden
After=network.target

[Service]
User={{ bitwarden_user }}
Group={{ bitwarden_group }}
WorkingDirectory=/var/lib/vaultwarden
EnvironmentFile=/etc/default/vaultwarden
ExecStart=/usr/bin/vaultwarden
Restart=on-failure
SuccessExitStatus=3 4
RestartForceExitStatus=3 4

[Install]
WantedBy=multi-user.target
