{{ ansible_managed|comment }}

uid = {{ rsyncd_uid }}
gid = {{ rsyncd_gid }}
reverse lookup = false
forward lookup = false

{% for name, source in rsyncd_config|dictsort %}
[{{ name }}]
{% for k, v in source.items() %}
    {{ k }} = {{ v }}
{% endfor %}

{% endfor %}
