{{ ansible_managed|comment }}

# Spoofing protection
net.ipv4.conf.default.rp_filter={{ iptables_kp_spoof_protect|ternary(1, 0) }}
net.ipv4.conf.all.rp_filter={{ iptables_kp_spoof_protect|ternary(1, 0) }}

# TCP/IP SYN cookies
net.ipv4.tcp_syncookies={{ iptables_kp_tcp_syncookies|ternary(1, 0) }}

# Packet forwarding for IPv4
net.ipv4.ip_forward={{ iptables_kp_packet_forwarding_ipv4|ternary(1, 0) }}

# Packet forwarding for IPv6
net.ipv6.conf.all.forwarding={{ iptables_kp_packet_forwarding_ipv6|ternary(1, 0) }}

# TCP time-wait assassination hazards protection
{% if iptables_kp_tcp_rfc1337 %}net.ipv4.tcp_rfc1337=1{% endif %}

# Ignore icmp bogus responses
net.ipv4.icmp_ignore_bogus_error_responses={{ iptables_kp_icmp_ignore_bogus|ternary(1, 0) }}

# Do not accept ICMP redirects (prevent MITM attacks)
net.ipv4.conf.default.accept_redirects={{ iptables_kp_accept_redirects|ternary(1, 0) }}
net.ipv4.conf.all.accept_redirects={{ iptables_kp_accept_redirects|ternary(1, 0) }}
net.ipv6.conf.default.accept_redirects={{ iptables_kp_accept_redirects|ternary(1, 0) }}
net.ipv6.conf.all.accept_redirects={{ iptables_kp_accept_redirects|ternary(1, 0) }}

# _or_
# Accept ICMP redirects only for gateways listed in our default
# gateway list (enabled by default)
net.ipv4.conf.default.secure_redirects={{ iptables_kp_secure_redirects|ternary(1, 0) }}
net.ipv4.conf.all.secure_redirects={{ iptables_kp_secure_redirects|ternary(1, 0) }}

# Do not send ICMP redirects (we are not a router)
net.ipv4.conf.default.send_redirects={{ iptables_kp_send_redirects|ternary(1, 0) }}
net.ipv4.conf.all.send_redirects={{ iptables_kp_send_redirects|ternary(1, 0) }}

# Do not accept IP source route packets (we are not a router)
net.ipv4.conf.all.accept_source_route={{ iptables_kp_accept_source_route|ternary(1, 0) }}
net.ipv6.conf.all.accept_source_route={{ iptables_kp_accept_source_route|ternary(1, 0) }}

# Log Martian Packets
net.ipv4.conf.default.log_martians={{ iptables_kp_log_martian|ternary(1, 0) }}
net.ipv4.conf.all.log_martians={{ iptables_kp_log_martian|ternary(1, 0) }}

# Prevent smurf attacks
net.ipv4.icmp_echo_ignore_broadcasts={{ iptables_kp_echo_ignore_broadcast|ternary(1, 0) }}
