#jinja2:lstrip_blocks: True, trim_blocks: True, strip_trailing_newlines: False
{{ ansible_managed|comment }}

{% for vhost in nginx_sites %}
{% set _tmp = vhost.name.split(".")|reverse|join(".") %}
{% set _tmp = vhost.setdefault('reversed_fqdn', _tmp) %}
{% set _tmp = vhost.setdefault('ssl_compat', 'intermediate') %}
{% set ssl_on = 'https' in vhost.protocols
                        and vhost.ssl_certificate|default(none)
                        and vhost.ssl_key|default(none) %}
{% set ssl_v2_mod = nginx_http_v2_mod|default('spdy') %}
# {{ vhost.name }}
{# >> Pre configuration #}
{% if vhost.pre_configuration|default(None) %}

{{ vhost.pre_configuration }}

{% endif %}
server {
    server_name {{ vhost.server_name|default(vhost.name) }};
    root {{ vhost.root|default("/var/www/nginx/default", true) }};

    access_log {{ vhost.access_log|default('/var/log/nginx/' + vhost.reversed_fqdn + '-access.log') }};
    error_log  {{ vhost.error_log|default('/var/log/nginx/' + vhost.reversed_fqdn + '-error.log') }};
{# >> Listen #}
{% if 'http' in vhost.protocols %}

    listen {{ vhost.listen_http_port|default('80') }}{{ vhost.listen_options|default('') }};
    listen [::]:{{ vhost.listen_http_port|default('80') }}{{ vhost.listen_options|default('') }};
{% endif %}
{# >> SSL configuration #}
{% if ssl_on %}

    listen {{ vhost.listen_https_port|default('443') }} ssl {{ ssl_v2_mod }}{{ vhost.listen_options|default('') }};
    listen [::]:{{ vhost.listen_https_port|default('443') }} ssl {{ ssl_v2_mod }}{{ vhost.listen_options|default('') }};

    gzip {{ vhost.ssl_gzip|default(false)|ternary('on', 'off') }};
    {% if ssl_v2_mod == 'spdy' %}
    spdy_headers_comp 0;
    {% endif %}

    ssl_certificate  {{ vhost.ssl_certificate }};
    ssl_certificate_key  {{ vhost.ssl_key }};

    ssl_session_cache shared:SSL:2m;
    ssl_session_timeout 1h;
    ssl_session_tickets off;
    ssl_buffer_size 4k;

    # Ciphers ({{ vhost.ssl_compat}})
    ssl_protocols {{ nginx_ssl_ciphers[vhost.ssl_compat].protocols|join(' ') }};
    ssl_ciphers '{{ nginx_ssl_ciphers[vhost.ssl_compat].ciphers|join(':') }}';
    ssl_ecdh_curve '{{ nginx_ssl_ciphers[vhost.ssl_compat].ecdh_curve|join(':') }}';
    ssl_prefer_server_ciphers on;
    ssl_dhparam /etc/ssl/site/dhparam2048.pem;
    {% if vhost.ssl_ocsp|default(false) %}

    # OCSP Stapling
    ssl_stapling on;
    ssl_stapling_verify on;

    ## verify chain of trust of OCSP response using Root CA and Intermediate certs
    ssl_trusted_certificate {{ vhost.ssl_trusted_certificate|default('-') }};

    resolver {{ ansible_dns.nameservers.0 }};
    {% endif %}
    {% if vhost.ssl_hsts|default(false) %}

    # HSTS (ngx_http_headers_module is required) (15768000 seconds = 6 months)
    add_header Strict-Transport-Security max-age=15768000;
    {% endif %}
{% endif %}
{# >> force redirect #}
{% if vhost.force_redirect|default(none) %}

    # Fore Redirect
    if ($host != "{{ vhost.force_redirect|urlsplit('hostname') }}") {
        rewrite ^(.*)$ {{ vhost.force_redirect }}$1 permanent;
    }
{% endif %}
{# >> force ssl #}
{% if ssl_on and vhost.force_ssl|default(false) %}

    # Force HTTPS
    if ($scheme = http) {
        rewrite ^(.*)$ https://$host$1 permanent;
    }
{% endif %}
{# >> rewrite #}
{% if vhost.rewrites|default([]) %}

    # Rewrites
    {% for item in vhost.rewrites|default([]) %}
    rewrite {{ item }};
    {% endfor %}
{% endif %}
{# >> location directives #}
{% if vhost.locations|default([]) %}

    # Location directives
    {% for item in vhost.locations|default([]) %}
    location {{ item.name }} {
    {% for directive in item.directives %}
        {{ directive|trim|indent(8) }}{{ (directive|trim).endswith('}')|ternary('', ';') }}
    {% endfor %}
    }
    {% endfor %}
{% endif %}
{# >> raw content #}
{% if vhost.raw|default(None) %}

    # Raw content
    {{ vhost.raw|indent() }}
{% endif %}
}

{% endfor %}
