{{ ansible_managed|comment }}

# Base configuration
DATA_FOLDER={{ bitwarden_data_dir }}
WEB_VAULT_FOLDER=/usr/share/vaultwarden/web-vault
DOMAIN={{ bitwarden_protocol }}://{{ bitwarden_domain }}
WEB_VAULT_ENABLED=false

# Features
SIGNUPS_ALLOWED={{ bitwarden_signup_allowed|ternary('true', 'false') }}
INVITATIONS_ALLOWED={{ bitwarden_invitations_allowed|ternary('true', 'false') }}
ADMIN_TOKEN={{ bitwarden_admin_token|default('') }}
DISABLE_ICON_DOWNLOAD={{ bitwarden_enable_icon_download|ternary('false', 'true') }}
ICON_CACHE_TTL=432000
ICON_CACHE_NEGTTL=86400
ICON_DOWNLOAD_TIMEOUT=5

# SMTP
SMTP_HOST={{ bitwarden_smtp_host }}
SMTP_FROM={{ bitwarden_smtp_from }}
SMTP_PORT={{ bitwarden_smtp_port }}
SMTP_SSL={{ bitwarden_smtp_ssl|ternary('true', 'false') }}
SMTP_USERNAME={{ bitwarden_smtp_username }}
SMTP_PASSWORD={{ bitwarden_smtp_password }}

# Server settings
ROCKET_ENV=production
ROCKET_ADDRESS={{ bitwarden_rocket_address }}
ROCKET_PORT={{ bitwarden_rocket_port }}
ROCKET_SECRET_KEY={{ bitwarden_rocket_secret_key }}
