APP_NAME = {{ gitea_app_name }}
RUN_USER = {{ gitea_system_user }}
RUN_MODE = prod

[database]
DB_TYPE  = postgres
HOST     = {{ gitea_pg_host }}
NAME     = {{ gitea_pg_db }}
USER     = {{ gitea_pg_user }}
PASSWD   = {{ gitea_pg_password }}
SSL_MODE = disable
PATH     = data/gitea.db

[repository]
ROOT               = {{ gitea_repository_root }}
MAX_CREATION_LIMIT = {{ gitea_repository_max_creation_limit }}

[server]
DOMAIN                 = {{ gitea_domain }}
SSH_DOMAIN             = {{ gitea_ssh_domain }}
HTTP_ADDR              = {{ gitea_http_addr }}
HTTP_PORT              = {{ gitea_http_port }}
ROOT_URL               = {{ gitea_root_url }}
DISABLE_SSH            = false
SSH_PORT               = 22
MINIMUM_KEY_SIZE_CHECK = true
OFFLINE_MODE           = true
DISABLE_ROUTER_LOG     = true

[ssh.minimum_key_sizes]
ED25519 = 256
ECDSA   = 256
RSA     = 2048
DSA     = 1024

[mailer]
ENABLED        = {{ gitea_mailer_enabled|ternary('true', 'false') }}
MAILER_TYPE    = {{ gitea_mailer_mailer_type }}
HOST           = {{ gitea_mailer_host|default('') }}
USER           = {{ gitea_mailer_user|default('') }}
PASSWD         = {{ gitea_mailer_passwd|default('') }}
SKIP_VERIFY    = {{ gitea_mailer_skip_verify|ternary('true', 'false') }}
HELO_HOSTNAME  = {{ gitea_mailer_helo_hostname }}
FROM           = {{ gitea_mailer_from|default('') }}
SUBJECT_PREFIX = {{ gitea_mailer_subject_prefix|default('') }}

[cors]
ENABLED      = {{ gitea_cors_enabled|ternary('true', 'false') }}
SCHEME       = {{ gitea_cors_scheme }}
ALLOW_DOMAIN = {{ gitea_cors_allow_domain }}

[service]
REGISTER_EMAIL_CONFIRM            = {{ gitea_register_email_confirm|ternary('true', 'false') }}
ENABLE_NOTIFY_MAIL                = {{ gitea_enable_notify_mail|ternary('true', 'false') }}
DISABLE_REGISTRATION              = {{ gitea_disable_registration|ternary('true', 'false') }}
ALLOW_ONLY_EXTERNAL_REGISTRATION  = {{ gitea_allow_only_external_registration|ternary('true', 'false') }}
ENABLE_CAPTCHA                    = {{ gitea_enable_captcha|ternary('true', 'false') }}
REQUIRE_SIGNIN_VIEW               = {{ gitea_require_signin_view|ternary('true', 'false') }}
ENABLE_CACHE_AVATAR               = {{ gitea_enable_cache_avatar|ternary('true', 'false') }}

DEFAULT_KEEP_EMAIL_PRIVATE        = {{ gitea_default_keep_email_private|ternary('true', 'false') }}
DEFAULT_ALLOW_CREATE_ORGANIZATION = {{ gitea_default_allow_create_organization|ternary('true', 'false') }}


[picture]
DISABLE_GRAVATAR        = {{ giteat_disable_gravatar|ternary('true', 'false') }}
ENABLE_FEDERATED_AVATAR = {{ giteat_enable_federated_avatar|ternary('true', 'false') }}

[session]
PROVIDER      = file
COOKIE_SECURE = {{ gitea_cookie_secure|ternary('true', 'false') }}

[log]
MODE      = file
LEVEL     = Info
ROOT_PATH = {{ gitea_system_rootdir }}/log

[security]
INSTALL_LOCK   = true
SECRET_KEY     = {{ gitea_secret_key }}
INTERNAL_TOKEN = {{ gitea_internal_token }}

[cache]
ADAPTER = redis
HOST    = {{ gitea_redis_params }}

[cron]
ENABLED      = true
RUN_AT_START = true

[other]
SHOW_FOOTER_BRANDING           = {{ gitea_show_footer_branding|ternary('true', 'false') }}
SHOW_FOOTER_VERSION            = {{ gitea_show_footer_version|ternary('true', 'false') }}
SHOW_FOOTER_TEMPLATE_LOAD_TIME = {{ gitea_show_footer_template_load_time|ternary('true', 'false') }}
