[Unit]
Description=Gitea
After=postgresql.service

[Service]
User={{ gitea_system_user }}
Group={{ gitea_system_group }}
ExecStart={{ gitea_system_rootdir }}/gitea web
WorkingDirectory={{ gitea_system_rootdir }}
Restart=on-failure
SuccessExitStatus=3 4
RestartForceExitStatus=3 4

[Install]
WantedBy=multi-user.target
