{{ ansible_managed|comment }}

# FireHOL application default file
# sourced by the initscript `/etc/init.d/firehol'.
#
# See firehol-variables(5) manual page or FireHOL Manual
# for the full list of exportable variables that control the
# behaviour of FireHOL and their respective description.
#

# To enable firehol at startup set START_FIREHOL=YES (init script variable)
START_FIREHOL={{ firehol_enabled|ternary('YES', 'NO') }}

# If you want to have firehol wait for an iface to be up add it here
WAIT_FOR_IFACE="{{ firehol_wait_for_iface }}"

# Disallow pre-established traffic to continue whilst the firewall is activated
FIREHOL_ESTABLISHED_ACTIVATION_ACCEPT={{ firehol_established_activation_accept|ternary('1', '0') }}
