{{ ansible_managed|comment }}
/var/log/ulog/*.log /var/log/ulog/*.pcap {
	{{ firehol_logrotate_freq }}
	rotate {{ firehol_logrotate_retention }}

	missingok
	compress
	sharedscripts
	create 640 ulog adm
	postrotate
		invoke-rc.d ulogd2 reload > /dev/null
	endscript
}
