{{ ansible_managed|comment }}

{% if "api" in icinga_modules %}
object ApiListener "api" {
  accept_commands = false
  accept_config = false
  bind_host = "{{ icinga_api_host }}"
  bind_port = {{ icinga_api_port }}

  ticket_salt = TicketSalt
}

{% for item in icinga_api_users %}
object ApiUser "{{ item.name }}" {
  password = "{{ item.password }}"
  permissions = [ {% if item.permissions %}"{{ item.permissions|join('","') }}"{% endif %} ]
}

{% endfor %}
{% endif %}
