{{ ansible_managed|comment }}

{% if "ido-pgsql" in icinga_modules %}
library "db_ido_pgsql"

object IdoPgsqlConnection "pgsql-ido" {
  host = "127.0.0.1"
  port = 5432
  user = "{{ icinga_ido_db_user }}"
  password = "{{ icinga_ido_db_password }}"
  database = "{{ icinga_ido_db_name }}"

  cleanup = {
  }
}
{% endif %}
