{{ ansible_managed|comment }}
# Configuration for netfilter-persistent
# Plugins may extend this file or have their own

FLUSH_ON_STOP={{ iptables_netfilter_persistent_flush_on_stop|ternary(1,0) }}

PLUGINS=/etc/fw/plugins.d
