#jinja2:lstrip_blocks: True, trim_blocks: True, strip_trailing_newlines: False
{{ ansible_managed|comment }}

{% for item in nginx_upstreams %}
upstream {{ item.name }} {
{% for directive in item.directives %}
    {{ directive }};
{% endfor %}
}
{% endfor %}
