#
# Low priority for all packages
#
Package: *
Pin: release {{ release }}
Pin-Priority: 1

#
# Set normal priority for some packages
#
{% for item in packages %}
Package: {{ item }}
Pin: release {{ release }}
Pin-Priority: 500

{% endfor %}
